body{
    background-color: #FF0000;
}

.border{
    border-radius: 15px;
    border: 2px solid #73AD21;
    
    margin-bottom: 20px;
}

.bo{
    font-weight: bold;
}

.div1{
    margin-left: 10px;
}

.div2{
    background-color: #FFCCCB;
    
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    
    margin: 0px;
}

.center{
    display: block;
    
    margin: auto;
    
    width: 70%;
    
    margin-bottom: 15px;
    
    text-align: center;
}

.header1{
    font-family: Times;
    text-decoration: underline;
    font-weight: bold;
    text-align: center;    
}

.header2{
    font-family: Times;
    text-decoration: underline;
    font-weight: bold;
    margin-left: 10px;
}

.text{
    font-family: Times;
    font-size: 16px;
    margin-left: 10px;
    margin-right: 10px;
}

.ftext{
    font-family: Times;
    text-align: center;
    font-size: 18px;
}
